:root {
    --common-blue-beaupeyrat: #4c8fba;
    --orange-beaupeyrat: #f6731f;
    --border-color: #dce0e5;
    --title-blue-beaupeyrat: #00609c;
}

    
h1 {
    font-family: "Bell MT", serif !important;
    color: var(--title-blue-beaupeyrat) !important;
}

td {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}


h2 {
    font-family: "Bell MT", serif !important;
    color: var(--title-blue-beaupeyrat) !important;
}

.bg-beaupeyrat {
    background-color: var(--common-blue-beaupeyrat) !important;
}
.border-beaupeyrat {
    border: 1px solid var(--common-blue-beaupeyrat) !important;
    border-color: var(--common-blue-beaupeyrat) !important;
}

.page-break {
    page-break-before: always;
}
.field-input {
    width: 400px;
    display: inline-block;
}

.table {
    width: 100% !important;
    border-collapse: collapse !important;
}
